@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-text: 255, 0, 0;
	--color-background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: 255, 255, 255;
		--color-background: 16, 16, 16;
	}
}

*::-webkit-scrollbar {
	width: 2px;
	background: black;
}

*::-webkit-scrollbar-thumb {
	width: 2px;
	background: white;
}
